logs/*
*.json
__pycache__/*
*.xlsx
*.ipynb
*.pdf
*.out
*.pyc
*.csv
READMEmd
queue-guard/__pycache__
classification_main/logs/*
classification_main/classification_output/*
classification_main/__pycache__
mapping_main/logs/*
mapping_main/mapping_output/*
mapping_main/__pycache__
*.idea
